.comment { color: red; }
.string { color: magenta; }
.immed { font-weight: bold; }
.defining, .end-defining { font-weight: bold; }
.delimiting, .end-delimiting { font-weight: bold; }
.name { color: blue; font-weight: bold; font-style: italic; }
.number { color: green; font-weight: bold; }
.subst { font-weight: bold; }
.type { font-style: italic; }
.local { font-style: italic; }
.comma { font-style: italic; }
