DEFINED? string-buffer-max IF string-buffer-max ELSE token-buffer-max THEN
dup ${RICH_LEN} int>=bIF
  drop
  " ${RICH}"
ELSE
  dup ${TXT_LEN} int>= IF
    drop
    " ${TXT}"
  ELSE
    drop
    " Copyright (C) 2020-2025 Nolan Eakins, SemanticGap. All rights reserved.
https://github.com/sneakin/north-arm.git"
  THEN
THEN

NORTH-STAGE 0 int> IF BUILD-COPYRIGHT poke ELSE set-BUILD-COPYRIGHT THEN

