token-buffer-max ${RICH_LEN} int>= IF
 " ${RICH}"
ELSE
  token-buffer-max ${TXT_LEN} int>= IF
    " ${TXT}"
  ELSE
    " Copyright (C) 2020-2025 Nolan Eakins, SemanticGap. All rights reserved.
https://github.com/sneakin/north-arm.git"
  THEN
THEN

NORTH-STAGE 0 int> IF BUILD-COPYRIGHT poke ELSE set-BUILD-COPYRIGHT THEN

